.blogEvent-div{
  padding: 10px;
}
.blogEvent-header{
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  /* padding-left: 6px; */
  border-bottom: 1px solid #007ca3;
}

.line {
  width: 100%;
  height: 1px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  /* background-color: teal; */
}

/* .line::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: teal;
  left: -100%;
  top: 0;
  animation: eventLineMove 10s infinite ease-in-out;

} */

.blogEvent-content{
  margin-top: 10px;
  /* padding-left: 6px; */
}

.ant-timeline-item-content{
  min-height: 0px !important;
}
.ant-timeline-item-last{
  padding: 0 !important;
}

@keyframes eventLineMove {
  0% {
    left: -100%;
  }

  25% {
    left: 0;
  }

  50% {
    left: 100%;
  }

  75% {
    left: 0;
  }

  100% {
    left: -100%;
  }

}