.header {
  background-color: rgba(255, 255, 255);
  padding: 0.4rem;
  overflow: hidden;
  /* height: 3.0rem; */
  border-bottom: 1px solid #ccc;
}

.header-content {
  max-width: 1100px;
  margin: 0 auto;
}

.header-logo {
  color: #007ca3;
  font-size: 1.6rem;
  text-emphasis: left;
  cursor: pointer;
}

.header-txt {
  /* line-height: 100%; */
  font-size: 12px;
  color: #999;
  position: absolute;
  bottom: 0;
  padding-left: 0.3rem;
}

.NavBar {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.NavBarItem {
  padding: 0 5px;
  display: inline-block;
  font-size: 12px;
}

.NavBarItem:hover {
  border-bottom: 1px solid #007ca3;
}

.NavBarItemleft,
.NavBarItemright {
  display: inline-block;
}

.NavBar::-webkit-scrollbar {
  display: none;
}

.header-font {
  /* font-family: "方正姚体"; */
  font-size: 14px;
  font-style: oblique;
  position: relative;
}

.my_resume {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.my_resume:hover span {
  color: #007ca3;
  cursor: pointer;
  font-weight: bold;
}

.my-resume {
  display: none;
}

@media screen and (max-width: 768px) {
  .my-resume {
    display: inline;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 14px;
  }
}
